/* _____________________________________________________CARDS_____________________________________________________ */
.cardSection {
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
}

.cardSection ul {
  background: linear-gradient(#fcfcff, #909090);
  max-width: 28%;
  margin: 1em;
  justify-content: space-around;
  border-radius: 15px;
  padding: 15px;
  list-style-type: none;
  box-shadow: 2px 5px 10px #534d58;
}

ul.title li:nth-child(1) {
  height: 20px;
}

ul.title li:nth-child(2) {
  height: 80px;
}

.cardSection li {
  margin: 0.5em 0;
}
.cardSection strong {
  display: inline;
  font-size: 1.3em;
}
.cardSection li p {
  display: inline;
  font-size: 1.2em;
}

.divImage {
  margin: 0 auto;
  position: relative;
  width: 355px;
  height: 199.7px;
  transition: .1s ease-in-out;
}

.divImage:hover {
  transform: scale(1.75);
  z-index: 2;
}

.exampleImg {
  border-radius: 20px;
  margin: 0 auto;
  display: block;
}

.techsContainer {
  align-items: center;
  display: flex;
}

.techs {
  border-radius: 10px;
  margin: 0.3em;
  height: 35px;
  width: 35px;
}

.divEx {
  width: 500px;
  height: 200px;
}

/* Estilos para telas menores (mobile) */
@media screen and (max-width: 768px) {
  .cardSection {
    width: 100%;
  }

  .cardSection ul {
    max-width: 100%;
    margin: 1em 0;
  }

  .divImage {
    width: 100%;
  }

  .divEx {
    width: 100%;
  }
}
