/* header {
    font-family: "Share Tech", sans-serif;
  } */

.cabecalho_container {
  background-color: #0e0b16;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0rem;
}

.cabecalho_logo {
  height: 5.8rem;
}

.cabecalho_links {
  font-size: 1.5rem;
  display: flex;
  margin: 0 1rem;
  text-transform: uppercase;
}

.listItem {
  transform: scale(1);
  transition: transform 0.75s;
}

.listItem:hover {
  transform: scale(1.3);
  transition: transform 0.75s;
}

.cabecalho_itens {
  color: #f3ecec;
  margin: 0 1rem;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  .cabecalho_container {
    flex-direction: column;
    width: 100vw;
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #0e0b16;
  }

  .cabecalho_navegacao {
    padding-top: 2rem;
    /* max-width: 80% */
  }

  .cabecalho_itens {
    margin: 0 0.6rem;
  }

  .listItem:hover {
    transform: scale(1);
  }
}

.toggleContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  scale: 0.8 !important;
}

/* width: 75px; 
height: 34px; */

.toggleButton {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100px; /* Largura do botão */
  height: 45.945px;
  background-color: #0a3161;
  border: none;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 0 5px;
  overflow: hidden; /* Oculta a bolinha fora dos limites */
}

.toggleBall {
  position: absolute;
  top: -15px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
  z-index: 1;
}

.toggleButton.toggled .toggleBall {
  transform: translateX(58px); /* Ajuste animação */
}

.toggleButton.toggled {
  background-color: #4caf50;
}

.toggleImage {
  width: 45px;
  height: 31.5px;
  border-radius: 20px;
}

.portFlag {
  position: absolute;
  left: 0;
}

.engFlag {
  position: absolute;
  right: 0;
}
