.notFound h1{
    font-size: 10em;
}
.notFound {
  background: linear-gradient(#0e0b16, #262429);
}
.notFound > div {
  margin: 0 auto;
  color: #cdcdcd;
  height: 70vh;
  display: flex;
  padding-top: 15vh;
  align-items: center;
  flex-direction: column;
  width: 70%;
}

.notFound span {
  /* display: block; */
}
.notFound span:nth-child(1) {
  font-size: 8em;
}

.notFound span:nth-child(2) {
  font-size: 3em;
}

.notFound pre {
  font-size: 1.5em;
  margin-top: 2em;
}

.notFound p {
  font-size: 2em;
  margin: 2em;
}

.link {
    color: #d0d0d0;
    text-decoration: underline;
}

.link:hover {
    transition: .5s;
    color: #9e97b1;
}