.arrow {
  background-color: rgba(201, 196, 209, 0.238);
  padding: 5px;
  border-radius: 33%;
  position: fixed;
  bottom: 5%;
  right: 20px;
}

.arrow:hover {
  background-color: rgba(201, 196, 209);
  transition: 0.75s;
}

@media screen and (max-width: 500px) {
  .arrow {
    display: none;
  }
}
